:root {
  --white-plain: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #EEEEEE;

  --black-plain: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --blue-dark: #0e2f59;
  --blue-plain: #152fb4;
  --blue-alt: #76a0ee;
  --blue-soft: #9dc1f6;

  --green-dark: #0d5443;
  --green-plain: #238861;
  --green-alt: #1cf3a1;
  --green-soft: #74ecb0;

  --orange-dark: #a81f00;
  --orange-plain: #e16936;

  font-family: Comic Sans MS, sans-serif;
}
<!-- TODO заменить мягкий розовый и его оттенки на уверенный голубой-->

/* Стиль заголовка */
.logo {
  width: 5rem;
  height: 5rem;
  margin: 0.6rem;
}
.header{
  background-image: linear-gradient(to right, var(--blue-dark), var(--blue-plain));
  color: var(--white-plain);
  height: auto;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%;
}
.header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}
.header-title{
  font-size: 3rem;
  font-weight: 700;
  align-items: baseline;
}

/*Стиль кнопок на заголовке*/
.topnav-links {
  margin-left: 5%;
  border-color: var(--blue-alt);
  display: inline-block;
}
.topnav-links a {
  color: var(--white-plain);
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-color: var(--blue-alt);
}
.topnav-links a:hover {
  background-color: var(--green-plain);
  color: var(--green-dark);
  border-color: var(--green-plain);
  border-radius: 0.2rem;
}
.topnav-icons {
  display: flex;
}
.topnav-icons a, #logOutBtn {
  color: var(--white-plain);
  text-align: right;
  text-decoration: none;
  font-size: 1.7rem;
  margin-left: 3rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
}
.topnav-icons a:hover, #logOutBtn:hover {
  color: var(--green-plain);
}
#logOutBtn:active, .topnav-icons a:active{
  color: var(--green-soft);
  transform: translateY(0.2rem);
}
.topnav-links a:active {
  background-color: var(--green-soft);
  transform: translateY(0.2rem);
}

/* Стиль основного контента */
* {
  margin: 0;
}
.app{
  margin: 50px;
}
body{
  background-color: var(--white-mute);
  font-size: 18px;
}
.layout-content{
  margin: 1rem 1rem 3rem;
}
.layout{
  display: flex;
  flex-direction: column;
}

/*Стиль футера*/
footer {
  background-color: var(--black-mute);
  color: var(--white-plain);
  height: fit-content;
  width: 111%;
  position: fixed;
    bottom: 0;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.footer-content-right{
  align-items: flex-start;
  margin-right: 2rem;
  display: table-cell;
}
.footer-content-left{
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}
.footer-content a{
  color: var(--white-plain);
  font-size: 2rem;
  margin-left: 2rem;
}

/* Стиль страницы авторизации */
.wrapper-auth-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
#formContent {
  border-radius: 1rem;
  background-color: var(--blue-plain);
  padding: 2rem;
  max-width: 25rem;
  box-shadow: 0 2rem 2rem 0 rgba(0,0,0,0.3);
  text-align: center;
}
.auth-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 648;
  color: var(--black-mute);
  margin-bottom: 1.2rem;
}
.alert-danger {
  /* вынести в глобальные переменные потом*/
  color: #644504;
  background-color: #f8d7da;
  border-style: solid;
  border-color: #9f7539;
  padding: 0.5rem;
  height: auto;
  width: auto;
  font-size: 20px;
  border-radius: 0.5rem;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: var(--green-plain);
  border: none;
  color: var(--white-soft);
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 1rem 1rem 0 rgba(var(--green-plain), 0.5);
  border-radius: 0.5rem;
  margin: 1rem;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: var(--green-alt);
}
input[type=text], input[type=password] {
  background-color: var(--white-soft);
  border: none;
  color: var(--black-soft);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem;
  width: 85%;
  border-radius: 0.5rem;
}
input[type=text]:focus {
  background-color: var(--white-plain);
}
input[type=text]::placeholder {
  color: #cccccc;
}
input[type=submit]:active {
  box-shadow: 0 0 0 0 rgba(var(--green-soft), 0.5);
  transform: translateY(0.25rem);
}

/* Стиль страницы групп */
.default-content-box {
  border-radius: 1rem;
  color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.default-content-list{
  border: groove;
  border-radius: 1rem;
  background-color: var(--white-soft);
  color: #181818;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 1rem;
  /*оно на самом деле работает*/
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 0.5rem;
}
.default-content-hr {
  width: 100%;
  border-color: var(--white-mute);
  border-top: 0.1rem solid var(--blue-alt);
}
.default-content-header {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}
hr{
  border: 1px solid var(--blue-alt);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Стиль профиля*/
.profile-avatar {
  width: 19rem;
  height: 14rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
  border: solid 0.2rem var(--black-mute);
  border-radius: 0.5rem;
}

/* Без этого посимпатичнее выглядит */
/*.profile-grid {*/
/*  display: flex;*/
/*  flex-direction: row-reverse;*/
/*  grid-template-columns: 1fr 2fr;*/
/*  grid-gap: 2rem;*/
/*}*/
/* Стиль списка танцоров */
.student-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}
#student-list-add {
  background-color: var(--green-plain);
  /*border: solid 0.2rem var(--orange-plain);*/
  border: none;
  color: var(--white-soft);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 2rem 2rem 0 rgba(var(--black-mute), 0.5);
  z-index: 10;
  border-radius: 0.5rem;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Consolas, serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #35a944;
}

.modal-body {
  margin: 20px 0;
  line-height: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}



.modal-ok-button {
  background-color: #42b983;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 13px;
  cursor: pointer;
}

.modal-ok-button:hover {
  background-color: #3da777;
}

.modal-cancel-button {
  background-color: #aaa;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-size: 13px;
  cursor: pointer;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Общая хрень */
.default-select
{
  width: 96%;
  display: inline-block;
  text-align: center;
  height: 3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--white-soft);
  z-index: 10;
}

.default-delete-button {
  background-color: var(--green-plain);
  border: none;
  color: var(--white-soft);
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 2rem 2rem 0 rgba(var(--black-mute), 0.5);
  border-radius: 0.5rem;
}